* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    color: darkred;
    line-height: 1.5;
    padding: 20px;

}
.container{
    max-width: 1000px;
    margin: 0 auto;

}
header{
    text-align: center;
    padding: 2em 0;


}
h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #444;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
p{
    color: #666;

}
.about{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem 0;
    


}
.container-img{
    border-radius: 50%;
}
.about img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}
.about-content{
    flex: 1;
}
.about h2{
    font-size: 2rem;
    color: #333;
}
.skills{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    grid-gap: 1rem;
    margin-top: 2rem;


}
.skill-item{
    background-color:#fff ;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in;
}
.skill-item:hover{
    transform: scale(1.05);
    
}
.projects{
    margin-top: 2rem;
    background-color: burlywood;
    padding: 2px;
    border: ;

}
.projects-item{
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #c76fdc;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in;
}
.project-item:hover{
    transform: scale(1.02);
}
.project-item h3{
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 0.5rem;
}
footer{
    text-align: center;
    padding: 0.75rem 1.5rem;

    margin-top: 2rem ;
    color: #666;
}
.btn{
    padding: 0.75rem 1.5rem;
    
}
    